div.col-lg-9.col-md-9.col-sm-12.header-app-introduction
    p.header-app-introduction-create
        a(href="#create-page").header-app-introduction-create-button.btn.btn-block Create a new list
    p.header-app-itroduction-view
        a(href="#view-page").header-app-introduction-view--button.btn.btn-block View my tasks